.env

obsidian/

__pycache__/
venv/
*.pyc

test*
tutorial.py


*.class
*.jar
*.war
*.ear
target/
build/
.gradle/
bin/

*.log
*.log.gz
logs/

.DS_Store
Thumbs.db
*~
*.swp
*.swo
.fuse_hidden*

.idea/
*.iml
*.iws
.vscode/
.settings/
.classpath
.project
.factorypath